---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<p>I am a type designer and font engineer based in Porto Alegre, Brazil. I work at <a href="https://fabiohaagtype.com/en">Fabio Haag Type</a> and my own type foundry, <a href="https://harbortype.com">Harbor Type</a>.</p>

<p>You can get in touch with me on <a rel="me" href="https://typo.social/@harbortype">Mastodon</a> or via <a href="mailto:blog@henriquebeier.com">email</a>.</p>

<p>The typeface you are reading now is <a href="https://fabiohaagtype.com/en/font/seiva/">Seiva</a> from Fabio Haag Type. It was designed by Ana Laydner and Fabio Haag with assistance from me and Eduilson Coan.</p>
